#owner {
  /* border: 1px solid rgb(62, 187, 243); */
  background-color: rgb(62, 187, 243);
  opacity: 0.2;
}

#img {
  border: 1px solid rgb(62, 187, 243);
}

#avatar {
  outline: 3px solid rgb(62, 187, 243);
  outline-offset: 1px;
}
